/* General navbar styling for 'banner' */
.navbar {
    background-color: #ffffff;
    padding: 1em;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

/* Logo styling */
.logo-container {
    display: flex;
    align-items: center; /* Center the logo and text vertically together */
    margin-right: auto; /* Pushes the logo-container to the left */
}

.logo {
    height: 80px; 
    margin-right: 1em;
}

.logo-text {
    color: #e46f85;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Taskbar styling */
.taskbar {
    margin-left: auto; /* Aligns the taskbar to the right */
    margin-right: 2em;  /* Moves taskbar a bit from the right */
}

.taskbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.taskbar ul li {
    display: inline;
    margin-left: 2em; 
    position: relative; /* Needed for the pseudo-element */
    font-family: Georgia;
    font-size: medium;
}

/* Adjusts position of divider */
.taskbar ul li::after {
    content: '|';
    position: absolute;
    right: -1em; 
    color: rgb(0, 0, 0); 
}

.taskbar ul li:last-child::after {
    content: ''; /* Removes the divider after the last item */
}

.taskbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
}

/* Banner styling */
.banner-container {
    text-align: center; /* Centers the banner horizontally */
    margin-top: 1em; /* Adds spacing between the taskbar and banner */
}

.firstBanner {
    width: 100%; /* Makes the banner full width */
    height: auto; /* Ensures the image scales properly */
}

/* Who Are We? statement styling */
.whoAreWe-container {
    text-align: center;
    margin-top: 1em;
}

.who-Are-We {
    width: 100%;
    height: auto;
}